{% extends 'base.html.twig' %}
{% block title %}Cocina{% endblock %}
 {% block stylesheets %}

     <style>
         a{color: #6E6E6E; text-decoration: none; font-family: fantasy;}
     </style>
 {% endblock %}



{% block body %}

    <a role="button" href={{ path('app_restaurante_indice') }}>ENTRAR</a>

{% endblock %}