{% extends 'base.html.twig' %}
    {% block title %}Camarero{% endblock %}
    {% block stylesheets %}

{% endblock %}
{% block body %}
    <h2>COMANDAS</h2>
    <a href="{{ path('app_mesas') }}" class="btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">CREAR COMANDAS</a><br>
    <a href="#" class="btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">LISTAR COMANDAS</a><br>
    <a href="{{ path('app_cuenta') }}" class="btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">CUENTA</a><br>
{% endblock %}