{% extends 'base.html.twig' %}
{% block title %}Camarero{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}
    <h2>COMANDAS</h2>
    <a href="#" class="btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">CREAR</a><br>
    <a href="#" class="btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">LISTAR</a><br>
{% endblock %}