{% extends 'base.html.twig' %}
{% block title %}Cocina{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}
    <div>
        <a href="{{ path('app_form_comanda', {'numeromesa': 1})}}"><img src="/images/mesa1.jpg"></a>
        <a href="URL DESTINO"><img src="URL DE LA IMAGEN"></a>
        <a href="URL DESTINO"><img src="URL DE LA IMAGEN"></a>
    </div>
{% endblock %}